@font-face {
  font-family: chewy;
  src: url(/Fonts/Chewy-Regular.ttf);
}

:root {
    --main-font: "chewy";
}

* {
  padding: 0px;
  margin: 0px;
  background-color: rgba(0, 140, 255, 0);
}

#background-wrapper {
  position: absolute;
  z-index: -1000;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url(middle_texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (width < 800px) {
  * {
    overflow-x: hidden;
  }
}