:root {
  /*TEXT_COLORS_AND_FONDS*/
    --main-font: "Arial Narrow";
    --home-titel-text-color: orange;
    --basic-text-color: rgb(0, 0, 0);
    --text-shadow-black: 2px 0 3px rgb(0, 0, 0), 
    -2px 0 3px rgb(3, 3, 3), 
    0 2px 3px rgb(0, 0, 0), 
    0 -2px 3px rgb(0, 0, 0), 
    2px 2px 3px rgb(0, 0, 0), 
    -2px -2px 3px rgb(0, 0, 0),
    2px -2px 3px rgb(0, 0, 0),
    -2px 2px 3px rgb(0, 0, 0);
    --text-shadow-white: 
      2px 0 3px rgb(255, 255, 255), 
    -2px 0 3px rgb(255, 255, 255), 
    0 2px 3px rgb(255, 255, 255), 
    0 -2px 3px rgb(255, 255, 255), 
    2px 2px 3px rgb(255, 255, 255), 
    -2px -2px 3px rgb(255, 255, 255),
    2px -2px 3px rgb(255, 255, 255),
    -2px 2px 3px rgb(255, 255, 255);

    --box-background-color: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 15%, rgba(255, 255, 255, 0.4) 85%, rgba(255, 255, 255, 0) 100%);
    --basic-transition-time: 0.5s;
    --basic-border-color: black;

    --main-p-size: 1.3rem;
    --main-p-mobile-size: 1.0rem;

    --h1-font-size: 3.5rem;
    --h1-font-mobile-size: 2.5rem;

    --h2-font-size: 1.8rem;
    --h2-font-mobile-size: 1.5rem;

    --h3-font-size: 1.5rem;
    --h3-font-mobile-size: 1.0rem;
    
    --p-font-size: 1.3rem;
}

* {
  padding: 0px;
  margin: 0px;
  background-color: rgba(0, 140, 255, 0);
  user-select: none;
  font-family: var(--main-font);
  font-display: swap;
}

#header-container {
    display: block;
    width: 100%;
    margin-top: 20px;
}

#header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
    & h1 {
      font-size: 4.5rem;
    }
    /*text-shadow: var(--text-shadow-black);*/
}

#heading-container h1 {
    font-size: 4.0rem;
    text-align: center;
}

#heading-container h3 {
    font-size: 2.0rem;
}

#nav-container {
    display: block;
    background-image: url("../Wood.webp");
    background-size: contain;
    text-align: center;
}

#nav-wrapper {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    align-items: center;
}

#nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 1.0rem;
    width: 99vw;
    text-shadow: var(--text-shadow-white);
}

.nav-items {
    cursor: pointer;
    display: flex;
    background-image: url("../Schilder/PfeilRechts.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
    height: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: center;
    filter: drop-shadow(2px 2px 5px black);
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
}

.nav-items:hover {
    transform: rotate(-20deg);
}

.mobile-menu-toggle {
    background-color: var(--home-titel-text-color);
    display: none;
    position: absolute;
    z-index: 2000;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.mobile-menu-toggle span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10px;
    height: 2px;
    background-color: black;
}

#background-wrapper {
  position: fixed;
  z-index: -1000;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(30%);
}

#back-to-Top {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  position: fixed;
  font-size: 30px;
  top: 90%;
  left: 95%;
  background-color: var(--home-titel-text-color);
  z-index: 1000;
  transition: all var(--basic-transition-time);
}

#header-section {
  display: block;
}

#app {
  display: block;
  margin-top: 50px;
  height: 100%;
}

#leave-elem {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: -10;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

footer {
  display: flex;
  justify-self: center;
  justify-content: center;
  background-color: rgba(29, 104, 0, 0.514);
  color: var(--basic-text-color);
  padding: 60px 0 20px;
  position: relative;
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0);
  text-shadow: var(--text-shadow-white);
}

footer .grid-bg {
  opacity: 0.1;
}
  
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  z-index: 1;
}
  
.footer-logo h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
  
.footer-logo span {
  color: var(--basic-text-color);
  text-shadow: 0 0 10px black;
}
  
.footer-logo p {
  max-width: 300px;
  opacity: 0.7;
}
  
.footer-social {
  display: flex;
  gap: 15px;
}
  
.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--home-titel-text-color);
  border: 2px solid black;
  border-radius: 4px;
  transition: all 0.5s;
}
  
.footer-social a:hover {
  background-color: white;
  color: var(--home-titel-text-color);
  box-shadow: 0 0 15px orange;
}
  
.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
  
.footer-bottom p {
  opacity: 0.7;
}
@media (width < 1650px) {
  #nav-list {
    gap: 10px;
  }
  .nav-items {
    width: 180px;
    height: 100px;
    font-size: 1.0rem;
  }
}

@media (width < 1150px) {
  #back-to-Top {
    left: 90%;
  }
  #header-wrapper {
    flex-direction: column;
  }
  #nav-container {
    background-image: none;
  }
        
  .mobile-menu-toggle {
    position: fixed;
    display: flex;
    left: 90%;
    top: 25px;
    box-shadow: 0px 0px 0px inset rgb(0, 0, 0);
    align-self: flex-end;
    justify-self: flex-end;
    transition: all 0.1s;
  }
  .mobile-menu-toggle:active {
    box-shadow: 0px 0px 5px inset rgb(0, 0, 0);
  }
  .nav-items {
    width: 180px;
    height: 78px;
  }
  #nav-list {
    top: 0px;
    opacity: 0;
    left: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.39);
    box-shadow: 2px 2px 5px gray;
    padding: 10px;
    z-index: 999 !important;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }

  #nav-list.isActive {
    left: 0%;
    opacity: 1;
  }
}

@media (width < 800px) {
  * {
    overflow-x: hidden;
  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  #back-to-Top {
    left: 85%;
    top: 87%;
  }
  #heading-container h1 {
    font-size: 3.0rem;
  }

  #heading-container h3 {
    font-size: 1.5rem;
  }

  #header-wrapper {
    flex-direction: column;
  }
  #nav-container {
    background-image: none;
  }
        
  .mobile-menu-toggle {
    position: fixed;
    display: flex;
    left: 85%;
    box-shadow: 0px 0px 0px inset rgb(0, 0, 0);
    align-self: flex-end;
    justify-self: flex-end;
    transition: all 0.1s;
  }
  .mobile-menu-toggle:active {
    box-shadow: 0px 0px 5px inset rgb(0, 0, 0);
  }
  .nav-items {
    width: 200px;
    height: 75px;
  }
  #nav-list {
    top: 0px;
    opacity: 0;
    left: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.39);
    box-shadow: 2px 2px 5px gray;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }

  #nav-list.isActive {
    left: 0%;
    opacity: 1;
  }
}
@media (width < 400px) {
  .nav-items {
    width: 200px;
    height: 70px;
  }
}

@media(width < 390px) {
  .nav-items {
    width: 200px;
    height: 50px;
  }
}